:root.theme-dark {
  --page-side-padding: 20px;
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #00183F;
  --font-family: "IBM Plex Mono";
  --font-size: 18px;
  --font-weight: 400;
  --font-weight-bold: 700;
  --line-height-standard: 23.4px;
  --sect-title-text-color: #FF0070;
  --main-text-color: #F1B2CE;
  --title-decor-text-color: #000028;
  --sections-padding: 80px;
  --content-margin-top: 60px;
  --btn-border: 1px solid #FF0070;
  --decor-focus-color: #DB00FF;
  --title-decor-bg-color: #FF0070;
  --link-shadow: #FF0070;
  --header-title-shadow: #FF0070;
  --title-paragraph-gap: 10px;
  --sections-item-gap: 20px;
  --section-width: 19.6875em;
  --mobile-width: 355px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-side-padding: 20px;
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #00183F;
    --font-family: "IBM Plex Mono";
    --font-size: 18px;
    --font-weight: 400;
    --font-weight-bold: 700;
    --line-height-standard: 23.4px;
    --sect-title-text-color: #FF0070;
    --main-text-color: #F1B2CE;
    --title-decor-text-color: #000028;
    --sections-padding: 80px;
    --content-margin-top: 60px;
    --btn-border: 1px solid #FF0070;
    --decor-focus-color: #DB00FF;
    --title-decor-bg-color: #FF0070;
    --link-shadow: #FF0070;
    --header-title-shadow: #FF0070;
    --title-paragraph-gap: 10px;
    --sections-item-gap: 20px;
    --section-width: 19.6875em;
    --mobile-width: 355px;
  }
  .rec {
    display: block;
  }

  .rec::after {
    display: inline-block;
  }
}

.theme-dark .rec {
  display: block;
}

.theme-dark .rec::after {
  display: inline-block;
}