
:root.theme-light {
  --page-side-padding: 20px;
  --bg-image: url("../images/cover-image-light.png");
  --font-family: "IBM Plex Mono";
  --font-size: 18px;
  --font-weight: 400;
  --font-weight-bold: 700;
  --line-height-standard: 23.4px;
  --main-text-color: #353430;
  --sect-title-text-color: #353430;
  --title-decor-text-color: #353430;
  --sections-padding: 80px;
  --content-margin-top: 60px;
  --btn-border: 1px solid #353430;
  --decor-focus-color: #FFC2E6;
  --title-decor-bg-color: #FF8DCB;
  --link-shadow: #FF8DCB;
  --header-title-shadow: #FF0070;
  --title-paragraph-gap: 10px;
  --sections-item-gap: 20px;
  --section-width: 19.6875em;
  --mobile-width: 355px;
}
/*
.theme-light .page {
  background-image: var(--bg-image);
}*/

.theme-light .rec {
  display: none;
}
/*
.theme-light .header__theme-menu-button_type_light {
  border: var(--btn-border);
}

.theme-light .header__theme-menu-button_type_dark:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
  cursor: pointer;
}

.theme-light .header__theme-menu-button_type_dark:focus-visible {
  border: none;
  border-bottom: var(--btn-border);
}

.theme-light .decor-focus {
  color: var(--decor-focus-color);
}

.theme-light .title-decor {
  background-color: var(--title-decor-bg-color);
  color: var(--title-decor-text-color);
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after,
.theme-light .footer::before,
.theme-light .footer::after {
  border-color: var(--sect-title-text-color);
}

.theme-light .content__section__title {
  color: var(--sect-title-text-color);
}
.theme-light .content__section__paragraph {
  color: var(--main-text-color);
}

@media (width > 768px) {
  .page {
    inline-size: 1024px;
  }

  .header {
    height: 768px;
  }

  .header-title {
    text-shadow: 4px 4px 0px var(--header-title-shadow);
  }

  .footer {
    height: 768px;
    margin-block-start: 60px;
  }

  .footer__title {
    text-shadow: 2px 2px 0px var(--header-title-shadow);
  }
}

@media (width <= 375px) {
  :root {
    --page-side-padding: 10px;
    --section-width: 355px;
    --line-height-standard: 23px;
    --content-margin-top: 40px;
    --sections-padding: 50px;
  }

  .page {
    inline-size: 375px;
  }

  .header {
    height: 668px;
  }

  .header-title {
    text-shadow: 4px 4px 0px var(--title-decor-bg-color);
  }

  .footer {
    height: 668px;
  }
}
*/