.page {
  block-size: 100%;
  min-height: 100vh;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header,
.footer {
  height: 100vh;
  min-block-size: 668px;
}

.header {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  position: relative;
  padding-right: var(--page-side-padding);
}

.rec {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--header-title-shadow);
  line-height: 25px;
  text-align: center;
}

.rec::after {
  content: '';
  display: none;
  width: 9px;
  height: 9px;
  background-color: var(--header-title-shadow);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0px 0px 4px 2px var(--header-title-shadow);
}

.header__theme-menu {
  padding-top: 20px;
  padding-inline-start: 20px;
}

.header__theme-menu-list {
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  text-align: center;
  text-transform: lowercase;
  line-height: 25px;
  padding-inline: 13px;
  height: 23px;
  display: flex;
  align-items: center;
}

.header__theme-menu-button_active {
  border: var(--btn-border);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border-bottom: var(--btn-border);
}

.decor-focus {
  font-family: var(--font-family, monospace);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-bold);
  color: var(--decor-focus-color);
}

.header-title {
  align-self: center;
}

.header-paragraph__block {
  justify-self: end;
  align-self: flex-start;
  padding-top: 50px;
}

.title-decor {
  background-color: var(--title-decor-bg-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-standard);
  text-align: left;
  color: var(--title-decor-text-color);
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  border-color: var(--sect-title-text-color);
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 1px 1px 0px 0px;
  border-color: var(--sect-title-text-color);
  position: absolute;
  top: 20px;
  right: 20px;
}

.content {
  width: 100%;
  margin-block-start: var(--content-margin-top);
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);
}

.content__section:not(:last-child) {
  padding-bottom: var(--sections-padding);
}

.content__section__title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-standard);
  text-align: left;
  color: var(--sect-title-text-color);
  max-width: var(--section-width);
}

.content__section__paragraph {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height-standard);
  color: var(--main-text-color);
}

.reasons-why {
  display: grid;
  grid-template-columns: minmax(236px, var(--section-width)) 2fr;
  grid-template-rows: 1fr;
}

.research__outer-link {
  line-height: 22px;
  text-decoration: none;
  text-shadow: 0.5px 1.5px 0px var(--link-shadow);
  cursor: pointer;
}

.research__outer-link:hover {
  border-bottom: var(--btn-border);
  cursor: pointer;
}

.research__outer-link:focus {
  border: var(--btn-border);
  outline: none;
  line-height: 22px;
}

.content__section__list {
  display: flex;
  flex-direction: column;
  gap: var(--sections-item-gap);
}

.content__list-item {
  display: flex;
  flex-direction: column;
  gap: var(--title-paragraph-gap);
}

.low-concentration {
  display: grid;
}

.low-concentration__title {
  padding-bottom: 20px;
}

.low-concentration .content__section__list {
  display: grid;
  gap: var(--sections-item-gap);
  list-style: none;
  padding: 0;
  margin: 0;
}

.low-concentration .content__list-item {
  display: flex;
  flex-direction: column;
  gap: var(--title-paragraph-gap);
}

.betterThanGoldFish .content__list-item:not(:first-child) .title-decor {
  font-weight: var(--font-weight);
}

.betterThanGoldFish {
  display: grid;
  grid-template-columns: minmax(236px, var(--section-width)) 2fr;
  gap: var(--sections-item-gap);
  align-items: start;
}

.betterThanGoldFish .content__section__title {
  grid-column: 1 / 2;
}

.betterThanGoldFish .content__section__list {
  grid-column: 2 / 3;
}

.content__section__gallery {
  display: grid;
  grid-auto-flow: dense;
  box-sizing: border-box;
  gap: 20px;
  padding-top: 20px;
}

.content__section__gallery .title-decor {
  padding-bottom: 20px;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width > 768px) {
  .page {
    max-inline-size: 1024px;
    inline-size: 100%;
  }
  .header {
    min-height: 768px;
  }
  .header__theme-menu {
    justify-self: center;
  }
  .header__theme-menu-list {
    display: inline-flex;
  }
  .decor-focus {
    line-height: 129.53px;
  }
  .header-title {
    text-shadow: 4px 4px 0px var(--header-title-shadow);
  }
  .header-paragraph__block {
    max-width: 491px;
    width: 100%;
    justify-self: end;
    align-self: flex-start;
  }
  .betterThanGoldFish .content__section__title {
    max-width: var(--section-width);
  }
  .low-concentration .content__section__list {
    grid-template-columns: repeat(3, var(--section-width));
  }
  .content__section__gallery {
    grid-template-columns: auto;
  }
  .gallery__item:first-child {
    grid-row: 1;
    grid-column: 1/3;
  }
  
  .gallery__item:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3;
  }
  
  .gallery__item:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1;
  }
  
  .gallery__item:last-child {
    grid-row: 3;
    grid-column: 2/4;
  }
  .footer {
    min-height: 768px;
    margin-block-start: 60px;
  }
  .footer__title {
    text-shadow: 2px 2px 0px var(--header-title-shadow);
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .page {
    max-inline-size: 768px;
    inline-size: 100%;
    --section-width: 236px;
    --header-title-shadow: #FF8DCB;
  }
  .header {
    min-height: 1024px;
  }
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    padding-top: 113px;
  }
  .decor-focus {
    line-height: 99px;
  }
  .header-title {
    text-shadow: 4px 4px 0px var(--title-decor-bg-color);
    align-self: center;
  }
  .header-paragraph__block {
    max-width: 364px;
    width: 100%;
    justify-self: end;
    align-self: flex-start;
    padding-top: 40px;
  }
  .content__section__title {
    max-width: var(--section-width);
  }
  .low-concentration .content__list-item {
    grid-template-columns: 1fr;
  }
  .content__section__gallery {
    grid-template-columns: auto;
  }
  .gallery__item:first-child {
    grid-row: 1;
    grid-column: 1/3;
  }
  
  .gallery__item:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3;
  }
  
  .gallery__item:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1;
  }
  
  .gallery__item:last-child {
    grid-row: 3;
    grid-column: 2/4;
  }
  .footer {
    min-height: 1024px;
    margin-block-start: 60px;
  }
  .footer__title {
    text-shadow: 2px 2px 0px var(--header-title-shadow);
    padding-inline-start: 20px;
  }
}

@media (max-width: 375px) {
  .page {
    --header-title-shadow: #FF8DCB;
    --page-side-padding: 10px;
    --section-width: 355px;
    --content-margin-top: 40px;
    --sections-padding: 50px;
    max-inline-size: 375px;
    inline-size: 100%;
  }
  .header {
    min-height: 668px;
    padding-right: var(--page-side-padding);
  }
  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }
  .rec {
    top: 10px;
    right: 20px;
  }
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .decor-focus {
    line-height: 95.7px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header-title {
    text-shadow: 4px 4px 0px var(--title-decor-bg-color);
    align-self: center;
    padding-inline-start: 10px;
  }
  .header-paragraph__block {
    max-width: var(--mobile-width);
    width: 100%;
    justify-self: end;
    align-self: flex-start;
    padding-top: 40px;
  }
  .content__section__title {
    max-width: var(--mobile-width);
  }
  .content__section__paragraph {
    line-height: var(--line-height-standard);
  }
  .reasons-why__title {
    padding-block-end: 20px;
  }
  .reasons-why {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .low-concentration .content__list-item {
    grid-template-columns: 1fr;
  }
  .betterThanGoldFish {
    grid-template-columns: 1fr;
    gap: var(--sections-item-gap);
  }
  .betterThanGoldFish .content__section__title {
    grid-column: 1 / 2;
  }
  .betterThanGoldFish .content__section__list {
    grid-column: 1 / 2;
  }

  .content__section__gallery {
    grid-auto-flow: row;
    grid-template-columns: auto;
    gap: 10px;
    padding-top: 10px;
  }

  .gallery__item {
    grid-column: span 1;
    grid-row: auto;
    inline-size: 100%;
  }

  .gallery__image {
    object-fit: cover;
    inline-size: 100%;
    block-size: auto;
  }
  .footer {
    min-height: 668px;
    margin-block-start: 40px;
  }
  .footer__title {
    text-shadow: 2px 2px 0px var(--header-title-shadow);
  }
}