:root {
  --page-side-padding: 20px;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --font-family: 'IBM Plex Mono';
  --font-size: 18px;
  --font-weight: 400;
  --font-weight-bold: 700;
  --line-height-standard: 23.4px;
  --main-text-color: #353430;
  --sect-title-text-color: #353430;
  --title-decor-text-color: #353430;
  --sections-padding: 80px;
  --content-margin-top: 60px;
  --btn-border: 1px solid #353430;
  --btn-border-hover: 1px solid #32312d66;
  --decor-focus-color: #ffc2e6;
  --title-decor-bg-color: #ff8dcb;
  --link-shadow: #ff8dcb;
  --link-border: 1px solid #353430;
  --header-title-shadow: #ff0070;
  --title-paragraph-gap: 10px;
  --sections-item-gap: 20px;
  --section-width: 19.6875em;
  --mobile-width: 355px;
}
